/* General styles for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1.5em;
  box-shadow: 0 0.2em 0.8em var(--dropshadow);
  border: 0.2em solid transparent;
  border-radius: 1.7em;
  position: relative;
  background:
        linear-gradient(var(--background), var(--background)) padding-box,
        linear-gradient(var(--background), var(--background)) border-box,
}

.navbar:hover {
  background:
        linear-gradient(var(--background), var(--background)) padding-box,
        radial-gradient(circle, var(--primary), var(--secondary), var(--accent)) border-box;
  animation: spinGradient 4s linear infinite;

  .navbar-link.active {
    background:
        linear-gradient(var(--background), var(--background)) padding-box,
        radial-gradient(circle, var(--primary), var(--secondary), var(--accent)) border-box;
  animation: spinGradient 4s linear infinite;
  }
}

/* Inner content */
.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  padding: 0.4em 1em;
}

.navbar-link {
  border-bottom: 0.1em solid transparent;
  position: relative;
  text-decoration: none;
}

.navbar-link.active {
  background:
        linear-gradient(var(--background), var(--background)) content-box,
        radial-gradient(circle, var(--foreground-muted), var(--foreground-muted)) border-box;
}

.navbar:hover.navbar-link.active {
  background:
        linear-gradient(var(--background), var(--background)) padding-box,
        radial-gradient(circle, var(--primary), var(--secondary), var(--accent)) border-box;
  animation: spinGradient 4s linear infinite;
}

@keyframes spinGradient {
  0% {
    background:
      linear-gradient(var(--background), var(--background)) padding-box,
      radial-gradient(circle, var(--primary), var(--secondary), var(--accent)) border-box;
    background-size: 200% 200%;
    background-position: 0% 0%;
  }
  100% {
    background:
      linear-gradient(var(--background), var(--background)) padding-box,
      radial-gradient(circle, var(--primary), var(--secondary), var(--accent)) border-box;
    background-size: 200% 200%;
    background-position: 200% 200%;
  }
}
