@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --foreground: #020802;
  --background: #fbfefb;
  --primary: #6db25c;
  --secondary: #a2d8c8;
  --accent: #5eb3de;
  --font-body: "Lato", sans-serif;
  --font-heading: "Fira Code", monospace;
}

[data-theme='dark'] {
  --foreground:  #f7fdf7;
  --background: #010401;
  --primary: #5ea34d;
  --secondary: #275d4d;
  --accent: #2176a1;
  --font-body: "Lato", sans-serif;
  --font-heading: "Fira Code", monospace;
}

.font-body {
  font-family: var(--font-body);
}

.font-heading {
  font-family: var(--font-heading);
}

.primary {
  color: var(--primary)
}

.secondary {
  color: var(--secondary)
}

.accent {
  color: var(--accent)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}