.container {
    background: var(--background);
    color: var(--foreground);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2em;
    gap: 1em;
  }

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }